@keyframes up-down {
  to{
    transform:translateY(-40px);
  }
}
@keyframes scrool-animation {
  25%{
    transform: translate(-50%,0px);
  }
  35%,55%,80%{
    transform: translate(-50%,15px);
  }
  45%,65%,90%{
    transform: translate(-50%,0);
  }
}