/*Start container */
.container {
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
}
.special-header{
  @media (max-width:767px) {
    h3{font-size: 1.52em}
  }
}
/* End container */
/* Start nav  */
nav {
  @media (max-width: 767px) {
    .container {
      flex-direction: column;
    }
    .links > li > a {
      font-size: 0.9em;
      height: 45px;
      padding: 0 5px;
    }
    .logo {
      height: 60px;
    }
    .links-ul .box {
      width: 100%;
      li {
        border-bottom: 1px solid #e7e7e7;
      }
    }
  }
  @media (max-width: 991px) {
    .imag {
      display: none;
    }
  }
}
/* End nav queries */

/* Start landing queries */
.landing {
  @media (max-width: 767px) {
    .text {
      font-size: 14px;
    }
  }
  @media (max-width: 991px) {
    min-height: calc(100vh - 105px);
    .container {
      grid-template-columns: 1fr;
    }
    .text {
      justify-content: center;
      text-align: center;
    }
    .imag {
      display: none;
    }
  }
}
.testimonials {
  @media (max-width: 767px) {
    .box {
      padding: 60px 15px 15px;
      img {
        right: 50%;
        transform: translate(50%, -50%);
      }
      .title {
        text-align: center;
      }
      .text p {
        margin: 20px 0;
        line-height: 1.5;
        color: var(--side-color);
        text-align: center;
      }
    }
  }
}
.team {
  @media (max-width: 600px) {
    .box {
      margin: auto;
      display: flex;
      flex-direction: column-reverse;
      padding: 0 10px 60px;
      img {
        margin: 0;
      }
    }
    .social {
      position: absolute;
      right: 0;
      bottom: 30px;
      transform: translateY(50%);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        margin: 0 10px;
      }
    }
  }
}
.skills {
  @media (max-width: 992px) {
    .imag {
      display: none;
    }
  }
}
.how-it-works {
  @media (max-width: 991px) {
    .container {
      flex-direction: column;
    }
    .content {
      margin: 50px 0 0;
    }
    .box {
      width: 100%;
    }
  }
  @media (max-width: 767px) {
    .box {
      flex-direction: column;
      text-align: center;
      img {
        margin: 0 0 40px;
      }
    }
  }
}
.events {
  @media (max-width: 992px) {
    .container {
      grid-template-columns: 100%;
      &::before,
      &::after {
        width: 120px;
        height: 120px;
      }
      &::before{
        transform: translate(-50% , -50%);
      }
      &::after{
        transform: translate(0% , 100%);
      }
    }
    .imag {
      display: none;
    }
  }
  @media (max-width: 767px) {
    .subscribe {
      width: 100%;
      input[type="email"] {
        width: calc(100% - 140px);
      }
    }
    .container {
      &::before,
      &::after {
        display: none;
      }
    }
  }
  @media (max-width: 411px) {
    .subscribe {
      width: 100%;
      border-radius: 5px;
      input[type="email"] {
        width: 100%;
        margin-bottom: 40px;
        border-radius: 5px;
      }
      input[type="submit"] {
        border-radius: 5px;
      }
    }
    .count {
      flex-wrap: wrap;
      gap: 10px;
    }
    .time {
      width: calc(50% - 10px);
      margin: 0;
      border-radius: 5px;
    }
  }
}
.pricing{
  @media (max-width:1170px) {
    .container .box:nth-child(2){
      transform: translate(0);
    }
  }
}
.videos{
  @media (max-width:992px) {
    .container{
      flex-direction: column;
    }
    .top-videos,
    .video{
    border: 1px solid #ccc;
    }
    .top-videos .title{
      min-width: unset;
    }
  }
}
.requests{
  @media (max-width:992px) {
    .content{
      flex-direction: column;
    }
    
  }
  @media (max-width:767px) {
    h4{
      font-size: 30px;
    }
  }
}
@media (max-width:767px) {
  .main-header{
    font-size: 30px;
  }
}
footer{
  @media (max-width:767px) {
    text-align: center;
  }
}
/* End landing queries */
