/* START Global Rules*/
@import "mix.scss";
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 300ms;
  --bg-color: #ececec;
  --section-padding:80px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

/*END Global Rules */
/* Component Start */
.container {
  padding: 0 15px;
  margin: 0 auto;
}
.special-header{
  margin-bottom: 50px;
  h3{
    cursor: default;
    border-radius: 4px;
    text-transform: uppercase;
    border: 1px solid;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    padding:10px 20px;
    font-size: 1.9rem;
    position: relative;
    &::before,
    &::after{
    content: '';
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translate(-50% , -50%);
    transition-duration: .6s;
    z-index: -1;
    }
    &::after{
      left: unset;
      right: -36px;
    }
    &:hover::before,
    &:hover::after{
      border-radius: 4px;
      transform: translate(0);
      top: 0;
      left: 0;
      width: 51%;
      height: 100%;
    }
    &:hover::after{
      left: unset;
      right: 0;
    }
    &:hover{
      transition-delay: .5s;
      color: white;
    }
  }
}
/* Component End*/
nav {
  box-shadow: 0 10px 20px #ddd;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .logo {
    height: 70px;
    @include flex(center, center);
    a {
      font-size: 1.7em;
      font-weight: 700;
      color: var(--main-color);
      text-transform: uppercase;
    }
  }
  .links {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    > li > a {
      color: black;
      display: flex;
      align-items: center;
      font-size: 1.1em;
      font-weight: 500;
      height: 70px;
      padding: 0 20px;
      position: relative;
      z-index: 5;
      &::before {
        content: "";
        background-color: hsla(0, 0%, 93%, 0.2);
        border-top: 4px solid var(--main-color);
        box-sizing: border-box;
        @extend %fill-animat;
      }
      &:hover::before {
        transform: scaleX(1);
      }
      &:hover {
        color: var(--main-color);
      }
    }
  }
  .other-links {
    &:hover .main {
      visibility: visible;
      transform: translateY(0);
      opacity: 1;
    }
  }
  ul.main {
    @include pos-a(71px, 0);
    padding: 20px;
    display: flex;
    opacity: 0;
    z-index: 100;
    visibility: hidden;
    border-bottom: 3px solid var(--main-color);
    background-color: white;
    transition: var(--main-transition) ease-out;
    transform: translateY(20px);
    width: 100%;
  }
  .links-ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  .box {
    width: calc(50% - 20px);
    li {
      position: relative;
      &:not(:last-child) {
        border-bottom: 1px solid #e7e7e7;
      }
      &::before {
        content: "";
        @extend %fill-animat;
        background-color: var(--bg-color);
        opacity: 0.3;
        transition-duration: var(--main-transition);
      }
      &:hover:before {
        transform: scaleX(1);
      }
      a {
        font-weight: 700;
        position: relative;
        z-index: 22;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 15px;
        color: var(--main-color);
        i {
          font-size: 20px;
          margin-right: 15px;
        }
      }
    }
  }
}
.landing {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 70px);
  position: relative;
  overflow:hidden;
  &::before {
    content: "";
    background: var(--bg-color);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: -57px;
    transform: skewy(-5deg);
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 100%;
  }
  .text {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    line-height: 1.6;
    p {
      font-size: 1.4em;
      max-width: 450px;
      color: #777;
    }
  }
  h1 {
    font-size: 2.3em;
    margin: 0;
    text-transform: capitalize;
    font-weight: 700;
  }
  .imag {
    img {
      -webkit-animation: up-down 1800ms alternate infinite linear;
              animation: up-down 1800ms alternate infinite linear;
    }
  }
  .to-bottom {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translatex(-50%);
    -webkit-animation: scrool-animation 2s linear infinite alternate;
            animation: scrool-animation 2s linear infinite alternate;
    i {
      color: var(--main-color);
      font-size: 30px;
    }
  }
}
.articles{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
/* media queries */
@import "media.scss";
/* End media queries */
/* Keyframes */
@import "keyframes.scss";
/* End Keyframes */
@import "extend.scss";
