/* Sass compiled files */
@import "extend";
/* End Sass compiled files */
/* START Global Rules*/
@import "mix.scss";
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --side-color: #777;
  --main-transition: 300ms;
  --bg-color: #ececec;
  --section-padding: 80px;
  --main-border-r: 5px;
  --hov-color: white;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* input:not([type="submit"]):focus,
* textarea:focus,
* button:focus,
* a:focus {
  outline: 1px solid #b4b4b4;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
/*END Global Rules */
/* Component Start */
.container {
  padding: 0 15px;
  margin: 0 auto;
}
.special-header {
  h3 {
    --transition-delay: 300ms;
    --transition-speed: 300ms;
    cursor: default;
    border-radius: var(--main-border-r);
    text-transform: uppercase;
    border: 2px solid black;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto 80px;
    padding: 10px 20px;
    font-size: 1.9rem;
    position: relative;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    z-index: 10;
    &::before,
    &::after {
      transition: var(--transition-speed) var(--transition-delay) linear, right var(--transition-delay) 0s linear,
        left var(--transition-delay) 0s linear;
      content: "";
      width: 12px;
      height: 12px;
      background-color: var(--main-color);
      border-radius: 50%;
      position: absolute;
      left: -30px;
      z-index: -1;
      top: 50%;
      transform: translatey(-50%);
    }
    &::after {
      left: unset;
      right: -30px;
    }
    &:hover::before,
    &:hover::after {
      transform: translate(0);
      top: 0;
      width: calc(50% + 1px);
      height: 100%;
      border-radius: 0;
    }
    &:hover::before {
      left: 0;
    }
    &:hover::after {
      right: 0;
    }
    &:hover {
      transition-delay: calc(var(--transition-speed) + var(--transition-delay) - 80ms);
      color: var(--hov-color);
      border-color: var(--main-color);
    }
  }
}
.main-header {
  margin: 0 auto 80px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 40px;
}
/* Component End*/
nav {
  position: relative;
  box-shadow: 0 10px 20px #ddd;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    height: 70px;
    @include flex(center, center);
    a {
      font-size: 1.7em;
      font-weight: 700;
      color: var(--main-color);
      text-transform: uppercase;
    }
  }
  .links {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    > li > a {
      color: black;
      display: flex;
      align-items: center;
      font-size: 1.1em;
      font-weight: 500;
      height: 70px;
      padding: 0 20px;
      outline: none;
      position: relative;
      z-index: 5;
      &::before {
        @extend %fill-animat;
        content: "";
        background-color: hsla(0, 0%, 93%, 0.2);
        border-top: 4px solid var(--main-color);
        box-sizing: border-box;
      }
      &:hover::before {
        transform: scaleX(1);
      }
      &:hover {
        color: var(--main-color);
      }
    }
  }
  .other-links {
    &:hover .links-container,
    .show-links {
      visibility: visible;
      transform: translateY(0);
      opacity: 1;
    }
  }
  .links-container {
    @include pos-abs(100%, null, null, 0);
    padding: 20px;
    display: flex;
    opacity: 0;
    z-index: 100;
    visibility: hidden;
    border-bottom: 3px solid var(--main-color);
    background-color: var(--hov-color);
    transition: var(--main-transition) ease-out;
    transform: translateY(20px);
    width: 100%;
  }
  .links-ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  .box {
    width: calc(50% - 20px);
    li {
      position: relative;
      &:not(:last-child) {
        border-bottom: 1px solid #e7e7e7;
      }
      &::before {
        content: "";
        @extend %fill-animat;
        background-color: var(--bg-color);
        opacity: 0.3;
        transition-duration: var(--main-transition);
      }
      &:hover:before {
        transform: scaleX(1);
      }
      a {
        font-weight: 700;
        position: relative;
        z-index: 10;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 15px;
        color: var(--main-color);
        i {
          font-size: 20px;
          margin-right: 15px;
        }
      }
    }
  }
}
.landing {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 70px);
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    background: var(--bg-color);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: -57px;
    transform: skewy(-5deg);
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 100%;
  }
  .text {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    line-height: 1.6;
    p {
      font-size: 1.4em;
      max-width: 450px;
      color: #777;
    }
  }
  h1 {
    font-size: 2.3em;
    margin: 0;
    text-transform: capitalize;
    font-weight: 700;
  }
  .imag {
    img {
      -webkit-animation: up-down 1800ms alternate infinite linear;
      animation: up-down 1800ms alternate infinite linear;
    }
  }
  .to-bottom {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translatex(-50%);
    -webkit-animation: scrool-animation 2s linear infinite alternate;
    animation: scrool-animation 2s linear infinite alternate;
    i {
      color: var(--main-color);
      font-size: 30px;
    }
  }
}
.articles {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  .to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: none;
    border-radius: 5px;
    background: #2196f3;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
    width: 40px;
    height: 40px;
    transform: scale(0);
    z-index: 999;
    font-size: 1.3em;
    &:hover {
      background-color: #222;
      border: 1px solid #2196f3;
    }
  }
  .to-top-show {
    transform: scale(1);
  }
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    .box {
      border-radius: var(--main-border-r);
      overflow: hidden;
      box-shadow: 0 5px 20px -11px rgba(0, 0, 0, 50%);
      transition: var(--main-transition);
      &:hover {
        transform: translatey(-10px);
        box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 50%);
      }
    }
    .text {
      background-color: var(--hov-color);
      .title {
        border-bottom: 1px solid #b1b1b180;
        padding: 20px;
      }
      h4 {
        font-size: 1.2em;
        margin-bottom: 10px;
      }
      p {
        line-height: 1.5;
        color: #444;
      }
    }
    .box:hover .btn-more::before {
      -webkit-animation-play-state: running;
      animation-play-state: running;
    }
    .btn-more {
      border: none;
      background: none;
      padding: 15px 20px;
      width: 100%;
      text-align: start;
      font-weight: bold;
      position: relative;
      &::before {
        content: "\f30b";
        color: var(--main-color);
        @include pos-abs(50%, 10px, null, null);
        transform: translatey(-50%);
        font-family: "font awesome 5 free";
        font-weight: 900;
        -webkit-animation: for-back var(--main-transition) cubic-bezier(0.68, 0.13, 0.23, 0.93) infinite alternate
          paused;
        animation: for-back var(--main-transition) cubic-bezier(0.68, 0.13, 0.23, 0.93) infinite alternate paused;
      }
      a {
        color: var(--main-color);
      }
    }
  }
}
.gallery {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: var(--bg-color);
  .content {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .box {
    padding: 15px;
    background-color: var(--hov-color);
    .imag {
      overflow: hidden;
      position: relative;
      &::before {
        content: "";
        background-color: rgba(255, 255, 255, 0.2);
        @include pos-abs(0, null, null, 0);
        width: 100%;
        height: 100%;
        transform: scale(0);
        transition: transform 200ms, opacity 100ms 200ms;
        z-index: 2;
      }
      &:hover::before {
        transform: scale(1);
        opacity: 0;
      }
      img {
        transition-duration: var(--main-transition);
      }
    }
    &:hover img {
      transform: scale(1.1) rotate(5deg);
    }
  }
}
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    .box {
      border: 1px solid rgba(119, 119, 119, 0.5);
      .text {
        text-align: center;
        padding: 0 15px;
        h3 {
          width: -webkit-max-content;
          width: -moz-max-content;
          width: max-content;
          font-size: 35px;
          font-weight: bold;
          margin: 0 auto 40px;
          position: relative;
          &::before {
            content: "";
            @include pos-abs(null, null, -20px, 50%);
            transform: translate(-50%, -50%);
            width: 70%;
            height: 5px;
            background-color: var(--box-color);
          }
        }
        p {
          font-size: 20px;
          line-height: 1.8;
          color: #777;
        }
      }
      .btn-feature {
        border: 3px solid var(--box-color);
        background: none;
        padding: 10px 30px;
        margin: 50px auto;
        display: block;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        border-radius: 5px;
        font-size: 20px;
        font-weight: bold;
        color: var(--box-color);
        transition-delay: 150ms;
        position: relative;
        z-index: 3;
        &::before {
          content: "";
          transition-duration: var(--main-transition);
          position: absolute;
          left: -1px;
          top: -1px;
          width: calc(100% + 2px);
          height: calc(100% + 2px);
          transform: scaleX(0);
          transform-origin: left;
          background-color: var(--box-color);
          z-index: -1;
        }
      }
      &:hover .btn-feature::before {
        transform: scaleX(1);
      }
      &:hover .btn-feature {
        color: var(--hov-color);
      }
    }
    .box.first {
      --box-color: #f44036;
    }
    .box.second {
      --box-color: #009688;
    }
    .box.third {
      --box-color: #03a9f4;
    }
    .imag {
      overflow: hidden;
      position: relative;
      &::before {
        content: "";
        @include pos-abs(0, 0, 0, 0);
        width: 100%;
        height: 100%;
        background-color: var(--box-color);
        opacity: 0.6;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        transition: var(--main-transition);
        border-style: solid;
        border-width: 0 0 150px 470px;
        border-color: #0000 #0000 var(--hov-color) transparent;
      }
    }
    .box:hover .imag::after {
      border-width: 0 469px 150px 0;
    }
  }
}
.testimonials {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: var(--bg-color);
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
  }
  .box {
    padding: 15px;
    position: relative;
    background-color: #fff;
    img {
      position: absolute;
      right: -10px;
      top: 0;
      transform: translateY(-50%);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 10px solid var(--bg-color);
    }
  }
  .title {
    h3 {
      margin-bottom: 10px;
    }
    span {
      display: block;
      margin-bottom: 10px;
      color: var(--side-color);
    }
    .filled {
      color: #ffc107;
    }
  }
  .text p {
    margin: 10px 0;
    line-height: 1.5;
    color: var(--side-color);
  }
}
.team {
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px 0;
  }
  .box {
    position: relative;
    background-color: var(--bg-color);
    padding-top: 50px;
    border-radius: 10px;
    margin-left: 80px;
    &::before {
      content: "";
      @extend %fill-animat;
      transform-origin: right;
      background-color: var(--side-color);
      opacity: 0.2;
    }
    &:hover::before {
      transform: scaleX(1);
    }
    img {
      margin-left: -60px;
      border-radius: 10px;
      transition: var(--main-transition);
    }
    &:hover img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }
  .social {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(50%, -50%);
    i {
      display: block;
      width: 50px;
      margin: 30px 0;
      color: var(--side-color);
      cursor: pointer;
      text-align: center;
    }
    .face-logo:hover {
      color: #4267b2;
    }
    .twitter-logo:hover {
      color: #1da1f2;
    }
    .linked-logo:hover {
      color: #2867b2;
    }
    .tube-logo:hover {
      color: #ff0000;
    }
  }
  .box:hover .title h4 {
    color: #777;
  }
  .title {
    padding: 20px;
    h4 {
      font-size: 20px;
      font-weight: bold;
      color: var(--main-color);
      margin-bottom: 10px;
      transition: var(--main-transition);
    }
  }
}
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--bg-color);
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    justify-content: center;
    counter-reset: counting 0;
  }
  .box {
    background-color: var(--hov-color);
    text-align: center;
    padding: 30px 0 80px;
    transition: var(--main-transition);
    position: relative;
    box-shadow: -2px 11px 35px -7px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -2px 11px 35px -7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -2px 11px 35px -7px rgba(0, 0, 0, 0.3);
    &:hover {
      box-shadow: -2px 11px 35px -7px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: -2px 11px 35px -7px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: -2px 11px 35px -7px rgba(0, 0, 0, 0.4);
      transform: translateY(-10px);
    }
    &::before {
      content: "";
      @extend %fill-animat;
      height: 3px;
      background-color: var(--main-color);
      transform-origin: center;
    }
    &:hover::before {
      transform: scaleX(1);
    }
  }

  .title {
    i {
      color: var(--main-color);
    }
    p {
      font-size: 25px;
      font-weight: 700;
      margin-top: 15px;
      color: black;
    }
  }
  .details {
    counter-increment: counting 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.05);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
    &::before {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--hov-color);
      content: counters(counting, ".", decimal-leading-zero);
      font-size: 25px;
      font-weight: 900;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100px;
      height: 100%;
      background: var(--main-color);
    }
    &::after {
      content: "";
      position: absolute;
      left: 95px;
      bottom: 0;
      width: 50px;
      height: 100%;
      background: #d5d5d5;
      transform: skewX(-25deg) translateX(-10px);
    }
    a {
      color: var(--main-color);
      text-transform: capitalize;
    }
  }
}
.skills {
  padding: var(--section-padding) 0;
  .content {
    display: flex;
    align-items: center;
    .progress {
      flex-grow: 1;
    }
    .skill {
      margin: 20px 0;
      h3 {
        font-size: 20px;
        margin-bottom: 15px;
      }
      p {
        width: 100%;
        background-color: rgba(204, 204, 204, 0.5);
        height: 30px;
        position: relative;
        &::after {
          content: attr(data-progress);
          position: absolute;
          right: 0;
          top: -40px;
          padding: 5px;
          border-radius: 5px;
          font-size: 13px;
          background: var(--hov-color);
          border: 1px solid #ececec;
          color: var(--main-color);
        }
      }
      span {
        display: block;
        background-color: var(--main-color);
        height: 100%;
        transition-duration: 1.5s;
      }
    }
  }
}
.how-it-works {
  background: var(--bg-color);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  .container {
    display: flex;
    align-items: center;
  }
  .content {
    margin-left: 50px;
  }
  .box {
    display: flex;
    align-items: center;
    background-color: #f6f5f5;
    border: 2px solid var(--hov-color);
    border-radius: 10px;
    padding: 35px;
    width: 600px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
    &::before {
      content: "";
      background: rgba(221, 221, 221, 0.4);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: scale(0);
      transform-origin: center;
      z-index: -1;
      transition-duration: var(--main-transition);
    }
    &:hover::before {
      transform: scale(1);
    }
    img {
      width: 80px;
      height: 80px;
      margin-right: 40px;
    }
  }
  .text {
    h4 {
      font-size: 1.5em;
      margin-bottom: 15px;
    }
    p {
      line-height: 1.5;
      color: #59595a;
    }
  }
}
.events {
  overflow: hidden;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1.5fr;
    justify-content: space-between;
    position: relative;
    &::before,
    &::after {
      content: "";
      width: 250px;
      height: 250px;
      background-image: url(../images/dots.png);
      background-repeat: no-repeat;
      position: absolute;
    }
    &::before {
      right: 0;
      top: 0;
      transform: translatex(50%);
    }
    &::after {
      bottom: 0;
      left: 0;
      transform: translatey(50%);
    }
  }
  .count {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .time {
    border: 1px solid #ccc;
    margin-right: 20px;
    border-radius: 10px;
    text-align: center;
    &:hover,
    &:hover span {
      border-color: var(--main-color);
      transition-duration: var(--main-transition);
    }
    h4 {
      color: var(--main-color);
      font-size: 30px;
      font-weight: 700;
      padding: 15px 20px;
      min-width: 75px;
    }
    span {
      display: block;
      padding: 10px;
      border-top: 1px solid #ccc;
      text-transform: capitalize;
      font-size: 13px;
    }
  }
  .text {
    text-align: center;
    margin-top: 50px;
    h3 {
      font-size: 1.8em;
      margin-bottom: 20px;
    }
    p {
      line-height: 1.8;
      font-size: 1.1em;
      color: var(--side-color);
    }
  }
  .subscribe {
    margin-top: 100px;
    grid-column: span 2;
    text-align: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background: var(--bg-color);
    justify-self: center;
    padding: 30px;
    border-radius: 60px;
    input[type="email"] {
      border: none;
      padding: 20px;
      border-radius: 40px;
      width: 400px;
      margin-right: 20px;
      caret-color: var(--main-color);
      transition-duration: 1s;
      color: black;
      &::placeholder {
        transition: var(--main-transition);
      }
      &:focus::placeholder {
        opacity: 0;
      }
    }
    input[type="submit"] {
      border: none;
      padding: 20px;
      border-radius: 40px;
      background-color: var(--main-color);
      color: var(--hov-color);
      cursor: pointer;
      font-weight: bold;
    }
  }
}
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--bg-color);
  position: relative;
  &::before,
  &::after {
    content: "";
    background-image: url(../images/dots.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 210px;
    height: 200px;
  }
  &::before {
    left: 0;
    bottom: 50px;
  }
  &::after {
    top: 150px;
    right: 0px;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px 50px;
    justify-content: center;
    margin-top: 100px;
    .box {
      background-color: var(--hov-color);
      padding: 15px;
      box-shadow: 0 5px 20px -10px rgba(0, 0, 0, 0.7);
      border-radius: 0 30px;
      position: relative;
      z-index: 1;
      &::before {
        content: "";
        @extend %fill-animat;
        height: 50%;
        background-color: rgba(204, 204, 204, 0.2);
        z-index: -1;
      }
      &::after {
        content: "";
        transition-duration: var(--main-transition);
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
        transform: scaleX(0);
        transform-origin: right;
        background-color: rgba(204, 204, 204, 0.2);
        z-index: -1;
      }
      &:hover::before,
      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
  .container .box {
    .header {
      text-align: center;
      padding: 20px;
      border-bottom: 1px solid rgba(221, 221, 221, 0.7);
      h3 {
        font-weight: 700;
        font-size: 25px;
      }
      p {
        font-size: 50px;
        font-weight: bold;
        color: var(--main-color);
        margin-bottom: 5px;
      }
      img {
        width: 80px;
        margin: 30px 0;
      }
      span {
        color: var(--side-color);
      }
    }
    > button {
      margin: 50px 0 30px;
      display: block;
      width: 100%;
      text-align: center;
      background: none;
      border: none;
      outline: none;
      a {
        color: var(--main-color);
        font-weight: bold;
        padding: 15px 20px;
        border: 2px solid var(--main-color);
        border-radius: 0 5px;
        display: inline-block;
        position: relative;
      }
    }
    .popular {
      position: absolute;
      right: 35px;
      top: 0;
      background: var(--main-color);
      color: var(--hov-color);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
      padding: 10px 10px 30px;
      font-weight: bold;
      font-size: 20px;
      writing-mode: vertical-lr;
      border-radius: 5px 5px 0 0;
    }
  }
  .box > button a {
    &::before,
    &::after {
      content: "";
      @extend %fill-animat;
      background: var(--main-color);
      width: 50%;
      z-index: -1;
    }
    &::after {
      left: unset;
      right: 0;
      transform-origin: right;
    }
    &:hover {
      color: white;
    }
    &:hover::before,
    &:hover::after {
      transform: scaleX(1);
    }
  }
  .container .box:nth-child(2) {
    transform: translateY(-30px);
  }
  .pricing-features {
    ul {
      li {
        padding: 20px 0;
        &:not(:last-child) {
          border-bottom: 1px solid rgba(221, 221, 221, 0.7);
        }
        i {
          color: var(--main-color);
          margin-right: 10px;
        }
      }
    }
  }
}
.videos {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  .container {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .top-videos {
    border: 1px solid #ccc;
    border-right: none;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 300px;
      background-color: #f4f4f4;
      padding: 20px;
      h5 {
        font-size: 18px;
      }
      a {
        color: inherit;
      }
    }
    .video-link {
      a {
        display: block;
        padding: 20px;
        font-weight: normal;
        color: black;
        border-bottom: 1px solid rgba(204, 204, 204, 0.3);
        transition-duration: var(--main-transition);
        font-weight: 400;
        span {
          display: block;
          margin-top: 15px;
          color: var(--side-color);
        }
      }
    }
  }
  .video-link a:hover {
    color: var(--main-color);
    background-color: rgba(172, 172, 172, 0.1);
  }
  .video {
    padding: 10px;
    background-color: #e2e2e2;
    border: 1px solid #ccc;
    border-left: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    video {
      width: 100%;
    }
    .title {
      background-color: white;
      padding: 20px;
      cursor: default;
    }
  }
}
.stats {
  padding: var(--section-padding) 0;
  background-color: hsla(0, 0%, 93%, 0.97);
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: url(../images/stats.jpg);
    background-size: cover;
    z-index: -1;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px 20px;
    justify-content: center;
  }
  .box {
    background-color: var(--hov-color);
    text-align: center;
    padding: 40px;
    position: relative;
    &::before,
    &::after {
      content: "";
      transition-duration: 1s;
      background: var(--main-color);
      position: absolute;
      width: 2px;
      height: 100%;
      transform: scaley(0);
    }
    &::before {
      transform-origin: top;
      left: 0;
      top: 0;
    }
    &::after {
      right: 0;
      bottom: 0;
      transform-origin: bottom;
    }
    &:hover::before,
    &:hover::after {
      transform: scaley(1);
    }
    i {
      margin-bottom: 20px;
    }
    h6 {
      transition-duration: 0.5s;
      font-size: 50px;
    }
    p {
      color: var(--main-color);
      font-size: 20px;
      font-style: italic;
      font-weight: bold;
    }
  }
}
.requests {
  .content {
    display: flex;
    .discount {
      flex-basis: 50%;
      background-color: rgba(23, 135, 224, 97%);
      color: var(--hov-color);
      text-align: center;
      padding: 40px;
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        z-index: -1;
        top: 0;
        background-image: url(../images/discount-background2.jpg);
      }
      h4 {
        font-size: 40px;
      }
      p {
        font-size: 20px;
        max-width: 600px;
        line-height: 1.5;
        margin: 50px auto 30px;
      }
      img {
        width: 300px;
      }
    }
    .request {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
      h4 {
        font-size: 35px;
        font-weight: bold;
        margin: 20px 0 30px;
      }
      input,
      textarea {
        width: 300px;
        padding: 20px;
        margin: 10px 0;
        border: none;
        border-bottom: 1px solid #ccc;
        background-color: #f9f9f9;
        resize: none;
      }
      textarea {
        width: 300px;
        max-width: 300px;
        height: 200px;
        max-height: 200px;
      }
      input[type="submit"] {
        border: none;
        background-color: var(--main-color);
        padding: 15px 0;
        font-size: 25px;
        color: var(--hov-color);
        font-weight: bold;
        border-radius: var(--main-border-r);
        cursor: pointer;
        outline: none;
        &:hover {
          background-color: var(--main-color-alt);
        }
      }
    }
  }
}
footer {
  padding-top: var(--section-padding);
  background-color: #191919;
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    color: #b9b9b9;
  }
  .author {
    h2 {
      font-size: 40px;
      color: white;
      margin-bottom: 20px;
    }
    a {
      width: 50px;
      height: 50px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: #313131;
      color: inherit;
      font-size: 20px;
      margin-right: 5px;
      transition: var(--main-transition);
      &:first-of-type:hover {
        background-color: #4267b2;
      }
      &:nth-of-type(2):hover {
        background-color: #1da1f2;
      }
      &:last-of-type:hover {
        background-color: #ff0000;
      }
    }
    p {
      width: 100%;
      line-height: 1.5;
      margin-top: 20px;
    }
  }
  .important-links {
    li {
      &:not(:last-child) {
        border-bottom: 1px solid #444;
      }
      a {
        display: block;
        padding: 15px 0;
        transition: var(--main-transition);
        color: inherit;
        &:hover {
          color: white;
          padding-left: 15px;
        }
        &::before {
          content: "\f101";
          font-family: "font awesome 5 free";
          font-weight: bold;
          color: var(--main-color);
          margin-right: 10px;
        }
      }
    }
  }
  address {
    p {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      i {
        margin-right: 15px;
        font-size: 25px;
        color: var(--main-color);
      }
    }
  }
  .photoes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 80px));
    gap: 5px;
    align-content: flex-start;
    img {
      padding: 3px;
      background-color: white;
    }
  }
  .made {
    border-top: 1px solid #444;
    color: white;
    text-align: center;
    font-weight: normal;
    padding: 20px 0;
    margin-top: 40px;
    font-size: 20px;
    span {
      color: red;
    }
  }
}
/* media queries */
@import "media.scss";
/* End media queries */
/* Keyframes */
@import "keyframes.scss";
/* End Keyframes */
