@mixin flex($j,$a) {
  display: flex;
  justify-content: $j;
  align-items: $a;
}
@mixin pos-abs($top,$rit,$botm,$lef) {
  position: absolute;
  top: $top;
  right: $rit;
  bottom: $botm;
  left: $lef;
}
