div {
  width: 200px;
  height: 200px;
  background: linear-gradient(
  0,
  red 25%,
  blue 25%,
  blue 50%,
  yellow 50%,
  yellow 75%,
  green 75%
  )
  0 0 / 100px 100px no-repeat white;
  transition-duration: 3s;
}
